# OS metadata
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
# Jetbrains IDE's metadata
.idea/

# npm
node_modules/

# test coverage data
coverage/

# API keys and secrets
.env

# Swap files
*.swp

# hot updates
dist/*.hot-update.*
