$body-bg-color: #f2f3f5;
$header-bg-color: #55A63A;
$header-fg-color: rgba(255,255,255,0.8);
$header-fg-hover-color: rgba(255,255,255,1);
$content-header-color: #34495e;
$content-text-color: #34495e;
$content-link-color: #337ab7;
