@import '~semantic-ui-less/semantic.less';
@import './fonts/arbutus-slab.less';

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #3da639;
}

.ui.secondary.inverted.pointing.menu {
    border-color: #3da639;
}

.ui.secondary.menu .dropdown.item > .menu, .ui.text.menu .dropdown.item > .menu {
    margin-top: 0;
}

.ui.container.content {
    margin: 6em;
}

.ui.header {
    padding: 1em 0;
}

.ui.vertical.segment.footer {
    padding: 5em 0;

    a {
        color: rgba(255, 255, 255, 0.5);
    }
}
