.card-icon {
    float: right;
}

.ui.segment.hero-segment,
.ui.segment.info-segment,
.ui.segment.pages-segment,
.ui.segment.projects-segment,
.ui.segment.social-segment {
    border: none;

    h4.with-div {
        margin: 2em 0;
    }
}

.ui.segment.social-segment {
    h4.with-div {
        width: 100vw;
        text-align: center;
        font-size: 32px;
        line-height: 37px;
        font-weight: bold;
        letter-spacing: 0.2em;

        color: #484848;
        &:before, &:after {
            content: none;
        }
    }

    .card {
        position: relative;
        overflow: hidden;
        padding-left: 10px;
        border: 1px solid #D1D1D1;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);

        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        .content {
            display: flex;
            align-items: center;
        }

        .card-left {
            min-width: 50%;
        }

        .card-right {
            min-width: 50%;
            transform: translateX(50%);
        }

        .flip {
            transform: scaleX(-1);
        }

        .header {
            font-size: 1.25em;
            line-height: 1.35em;
            color: #484848;
        }

        .meta {
            font-weight: 300;
            font-size: 1em;
            line-height: 1.2em;
            color: #484848;
            margin-top: 0.20em;
        }

        .card-icon {
            top: 0;
            right: 0;
        }

        .card-icon > svg {
            width: 125%;
            height: 125%;
            fill: transparent;
            color: #CBCBCB;
        }
    }
}

.ui.segment.hero-segment {
    padding: 4.5em 0 1.5em;

    h1 {
        font-size: 3.8em;
        font-weight: normal;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.3em;
        font-weight: normal;
        margin: 1.4em 0 1.2em;
        max-width: 30em;
    }

    .primary.button {
        font-size: 1.3em;
    }
}

.asym-clip {
    background-color: #007CC4;
    width: 100%;
    height: 8em;
}

.ui.button.button-below-image {
    margin: 1.5em 0 0;
}

.ui.segment.info-segment {
    padding: 2em 0;
}

.ui.segment.pages-segment {
    padding: 4em 0;
}

.ui.segment.projects-segment {
    padding: 3em 0;
    background: #e0e0e0;

    .ui.cards > .card .meta, .ui.card .meta {
        padding: 1em 0 0;
    }
}

.ui.segment.social-segment {
    padding: 4em 0 8em;
}



/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2.8em;
        }

        h2 {
            font-size: 1.2em;
        }

        .primary.button {
            font-size: 1.2em;
        }
    }
}

/* Tablet / iPad Portrait Screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2.4em;
        }

        h2 {
            font-size: 1em;
        }

        .primary.button {
            font-size: 1em;
        }
    }
}

/* Mobile Screens */
@media only screen and (max-width: 767px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 0.8em;
        }

        .primary.button {
            font-size: 0.8em;
        }
    }
}
