.card-icon {
    float: right;
}

.ui.segment.hero-segment,
.ui.segment.info-segment,
.ui.segment.pages-segment,
.ui.segment.projects-segment,
.ui.segment.social-segment {
    border: none;

    h4.with-div {
        margin: 2em 0;
    }
}

.ui.segment.social-segment {
    h4.with-div {
        width: 100vw;
        text-align: center;
        font-size: 32px;
        line-height: 37px;
        font-weight: bold;
        letter-spacing: 0.2em;

        color: #484848;
        &:before, &:after {
            content: none;
        }
    }

    .card {
        position: relative;
        overflow: hidden;
        padding-left: 10px;
        border: 1px solid #D1D1D1;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);

        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        .content {
            display: flex;
            align-items: center;
        }

        .card-left {
            min-width: 50%;
        }

        .card-right {
            min-width: 50%;
            transform: translateX(50%);
        }

        .flip {
            transform: scaleX(-1);
        }

        .header {
            font-size: 1.25em;
            line-height: 1.35em;
            color: #484848;
        }

        .meta {
            font-weight: 300;
            font-size: 1em;
            line-height: 1.2em;
            color: #484848;
            margin-top: 0.20em;
        }

        .card-icon {
            top: 0;
            right: 0;
        }

        .card-icon > svg {
            width: 125%;
            height: 125%;
            fill: transparent;
            color: #CBCBCB;
        }
    }
}

.ui.segment.hero-segment {
    padding: 4.5em 0 1.5em;

    h1 {
        font-size: 3.8em;
        font-weight: normal;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.3em;
        font-weight: normal;
        margin: 1.4em 0 1.2em;
        max-width: 30em;
    }

    .primary.button {
        font-size: 1.3em;
    }
}

.asym-clip {
    background-color: #007CC4;
    width: 100%;
    height: 8em;
}

.ui.button.button-below-image {
    margin: 1.5em 0 0;
}

.ui.segment.info-segment {
    padding: 2em 0;
}

.ui.segment.pages-segment {
    padding: 4em 0;
}

.ui.segment.projects-segment {
    padding: 3em 0;
    background: #343434;

    h4.with-div {
        width: 100vw;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.2em;
        color: #FFFFFF;

        &:before, &:after {
            content: none;
        }
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);

        .content {
            border-top: none;
        }

        .image, .image > img {
            width: 280px;
            height: 280px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .user-picture {
            min-width: 130px;
            min-height: 130px;
            width: 130px;
            height: 130px;
            border: 8px solid #fff;
            border-radius: 50%;
            margin-left: -65px;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .header {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }

        .description {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-top: 1em;
            color: #000000;
        }

        .meta {
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-top: 1em;
        }

        .repo {
            font-size: 50px;
            width: 50px;
            height: 50px;
            color: #000;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .carousel__slider {
        width: 100%;
    }

    .carousel__back-button, .carousel__next-button {
        margin: 60px;
        background: transparent;
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: white;
        border: none;
    }

    .ui.cards > .card .meta, .ui.card .meta {
        padding: 1em 0 0;
    }

    .ui.mini.buttons {
        margin-top: 50px;
    }

    .carousel__dot {
        background: transparent;
        color: #FFFFFF;
        opacity: 0.4;
        transition: .3s opacity;
    }

    button.carousel__dot--selected {
        opacity: 1 !important;
    }
}

.ui.segment.social-segment {
    padding: 4em 0 8em;
}



/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2.8em;
        }

        h2 {
            font-size: 1.2em;
        }

        .primary.button {
            font-size: 1.2em;
        }
    }
}

/* Tablet / iPad Portrait Screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2.4em;
        }

        h2 {
            font-size: 1em;
        }

        .primary.button {
            font-size: 1em;
        }
    }
}

/* Mobile Screens */
@media only screen and (max-width: 767px) {
    .ui.segment.hero-segment {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 0.8em;
        }

        .primary.button {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 910px) {
    .ui.segment.social-segment {
        .card {
            &:nth-child(3n) {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }

            &:last-child {
                border-radius: 25px;
            }
        }
    }
}

@media only screen and (max-width: 910px) and (min-width: 600px) {
    .ui.segment.social-segment {
        .card {
            &:nth-child(odd) {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }

            &:nth-child(even) {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .ui.segment.social-segment {
        .card {
            border-radius: 25px;
        }
    }
}
